.container ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
  gap: 30px;
  justify-content: center;
}

.container {
  display: flex;
  margin: 0 auto;
  width: auto;
  /* width: calc(100% / 4); */
  margin-left: 50px;
  margin-right: 50px;
}

ul {
  list-style: none;
  padding: 0;
  
}

.gallery {
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  height: 500px;
}

.gallery a {
  text-decoration: none;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trending-title{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #143f63;
  border-radius: 60px;
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.link-image{
  width: auto;
}

.image-container img {
  width: 100%;
  height: auto;
}

.gallery p {
    width: 100%;
  margin: 10px 0;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  max-width: 290px;
}

.image-container {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .gallery {
    display: flex;
    align-items: center;
  }

  .image-container {
    width: 300px;
    height: 100%;
  }

  .gallery p {
    margin: 0 20px;
  }
}
